<!doctype html>
<title>
    Route_change_behavioR
</title>
<body style="background: {{ color }};">
    <ul>
        <li>Idée: Comprendre que la requete web est prise en charge par tous les conteneurs.
        <li>      Il n'y a plus de <b>sticky session:</b> un conteneur prendra toujours en charge la requete web (Pas de changement de conteneur). 
        <li>Ici, la requete web a été prise en charge par <b>{{ name }}</b>.
    </ul>
</body>
<div style="color: #e4e4e4; text-align:  center; height: 90px; vertical-align:  middle;">
</div>
